<!DOCTYPE html>
<html ng-app="app">
<head>
 
  <!-- Standard Meta -->
   
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
 
  <!-- Site Properties -->
 
  <title>NxCommunity</title>
  <link type="text/css" rel="stylesheet" href="css/mainPage.css" />
  <link rel="stylesheet" href="semantic/packaged/css/semantic.css" type="text/css"></link>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  <!--  <link rel="stylesheet" type="text/css" href="/WEB-INF/lib/semantic/packaged/css/semantic.css"> -->

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
 <!--  <script src="/WEB-INF/lib/semantic/packaged/javascript/semantic.js"></script> -->   <!-- Semantic UI -->
  <script language="JavaScript" type="text/JavaScript" src="js/mainPage.js"></script>
  <script language="JavaScript" type="text/JavaScript" src="semantic/packaged/javascript/semantic.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/nuxeo.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <!--  <link rel="stylesheet" type="text/css" href="mainPage.css"> -->
  <!-- <script src="mainPage.js"></script> -->

</head>

<body id="feed">
  <div id="Feedhaut">
  <!-- Menu Dropdown en haut à droite -->
  <div class="ui right aligned header">
    <div class="ui secondary menu">
      <!-- Langue -->
      <div class="ui simple dropdown item">
        English <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">French</div>
          <div class="item">Italian</div>
        </div>
      </div>
      <!-- Produit -->
      <div class="ui simple dropdown item">
        Products  <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">DM</div>
          <div class="item">DAM</div>
          <div class="item">DRIVE</div>
        </div>
      </div>
      <!-- Autre compte -->
      <div class="ui simple dropdown item">
        My Connect <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Connect</div>
          <div class="item">Answers</div>
        </div>
      </div>
    </div>
  </div> <!-- Fin menu en haut à droite -->

  <!-- Menu Dropdown central cf NuxeoDotCom + Image Nuxeo à gauche -->
  <div class="ui center aligned header">
    <!-- Image nuxeo en haut à gauche -->
    <img class="left floated ui medium image" src="">
    <!-- Menu central haut-->
    <div class="ui aligned secondary menu" id="secMenu">
      <div class="ui simple dropdown item">
        Products <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">NUXEO PLATFORM</div>
          <div class="item">NUXEO DRIVE</div>
          <div class="item">Document Management</div>
          <div class="item">DAM</div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Services <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Customers <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Partners <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Learning <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui simple dropdown item">
        About us <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fin menu central -->

  <!-- Breadcrumb -->
  <div class="left floated ui breadcrumb">
    <a class="section" href="http://nuxeodotcom.wpengine.com/">Home</a> 
    <i class="right arrow icon divider"></i>
    <a class="section" href="http://nuxeodotcom.wpengine.com/about/">About Us</a> 
    <i class="right arrow icon divider"></i>
    <div class="active section">Community</div>
  </div>
</br>
</div>
  <!-- Fin Breadcrumb -->
  <!-- Bouton connect et barre search -->
  <div id="feed1">
  </br>
    <div id="feedhaut2">
  <div class="ui center aligned header" ng-controller="userProfilController">
    <!-- bouton connect -->
    <div class="right floated ui blue inverted huge aligned button" onclick='connection()'>Connect
    </div>
    <div class="right floated ui blue inverted huge aligned button" ng-click="showProfil(username);">MyAccount
    </div>
    <!-- Barre search -->
    <div class="left floated ui icon input">
      <input type="text" name="sethu" id="hu" /> 
      <i class="search icon" onclick="getHU();"></i>
    </div>
  </div> 
</div>

</br>
  <!-- Fin bouton connect et barre search -->

  <!-- les différents "popup" -->

  <!-- Login quand clique sur connect ou login-->
  <div class="ui modal" id="login" ng-controller="userConnectedController">
      <div class="ui fluid form segment">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>  
        <p>Connecte toi !!!</p>
        <div class="field">
            <label>Username</label>
            <input placeholder="Username" type="text" id="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password">
        </div>
        <div class="ui left floated aligned button"  ng-click="getUsername();">Let's go</div>
        <div class="ui right floated aligned button" onclick='register()'> Register</div>  
      </div>
  </div>

  <!-- création NxSourceId -->

  <div class="ui modal" id="pickAccount" ng-controller="IdSourceController" >
      <div class="ui fluid form segment">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>  
        <p>What are your Ids?</p>
        <div class="field">
            <label>Blogs</label>
            <input placeholder="Username" type="text" id="BlogsId">
        </div>
        <div class="field">
            <label>Answers</label>
            <input placeholder="Username" type="text" id="AnswersId">
        </div>
        <div class="ui left floated aligned button"  ng-click="getUsernames();">Let's go</div>  
      </div>
  </div>

  <!-- Register quand clique sur register --> 
  <div  class="ui modal" id="register"> <!-- ng-controller="ConnectController">-->

      <!-- Form register -->
      <div class="ui fluid form segment">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>  
        <p>Inscrit toi !!!</p>
        <div class="field">
            <label for="pseudo">Firstname</label>
            <input id="firstname" placeholder="Firstname" type="text" class="champ">
        </div>
        <div class="field">
            <label for="pseudo">Lastname</label>
            <input id="lastname" placeholder="Lastname" type="text" class="champ">
        </div>
        <div class="field">
            <label for="pseudo">Password</label>
            <input id="pswd" type="password" class="champ">
        </div>
        <div class="field">
            <label for="confirmation">Confirmation Password</label>
            <input id="confirmation" type="password" class="champ">
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" id="terms" class="champ">
            <label for="terms">I agree to the terms and conditions</label>
          </div>
        </div>
        <div class="ui left floated button" id="envoi" ng-click="getInformations();">Submit</div>
        <div class="ui button" id="reset">Reset</div>
        <div class="ui button" onclick='login()'> LogIn</div>
      </div>
      <div class="ui segment" id="erreur">
        <p>Vous n'avez pas rempli correctement les champs du formulaire !</p>
      </div>  
  </div>  

  <!-- Félicitation inscription -->
  <div  class="ui modal" id="Congratulation">
      <div class="ui fluid form segment">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>  
        <p>Merci de t'être inscrit !</p>
      </div>
  </div> 

  <!-- photos du profil -->
  <div  class="ui modal" id="pictures">
    <div class="ui fluid form segment">
      <div class="ui right floated segment">
        <i class="close icon"></i> 
      </div>  
      <p>Pictures</p>
      <div class="ui celled grid" ng-controller="profilPictureController">
          <div class="row">
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-1-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-1-icon.png')">   
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-2-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-2-icon.png')">       
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-3-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-3-icon.png')">        
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-4-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-4-icon.png')">      
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-5-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-5-icon.png')">        
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-6-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-6-icon.png')">       
            </div>
          </div>
          <div class="row">
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-7-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-7-icon.png')">      
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-8-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-8-icon.png')">   
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/boy-9-icon.png" ng-click="changePicture('../nuxeo-community/img/boy-9-icon.png')">       
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/administrator-icon.png" ng-click="changePicture('../nuxeo-community/img/administrator-icon.png')">     
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png" ng-click="changePicture('../nuxeo-community/img/Default-user-icon.png')">        
            </div>
            <div class="two wide column">
              <img class="circular ui small image" src="../nuxeo-community/img/User-icon.png" ng-click="changePicture('../nuxeo-community/img/User-icon.png')">        
            </div>
          </div>
      </div>
    </div>  
  </div>

  <!-- Fenêtre de tous les utilisateurs clique sur allUser -->
  <div  class="ui modal" id="allUsers">
    <div class="ui fluid form segment">
      <div class="ui right floated segment">
        <i class="close icon"></i> 
      </div>  
      <p>Tous les utilisateurs!</p>
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
      <!-- Tableau de photos des utilisateurs -->
      <div class="ui celled grid" ng-controller="userListController">
        <!-- 3 lignes divisées en 3 colonnes de taille 5 -->
        <!-- Ligne 1 -->
          <div class="row">
            <div class="five wide column" ng-repeat="user in users">
              <div class="ui celled grid">
                <div class="six wide column">
                  <img class="circular ui medium image" src="../nuxeo-community/img/Default-user-icon.png">
                </div>
                <div class="eight wide column">  
                  <p><a href="#" ng-click="showProfil(user.name);"> {{user.name}} </a><br/>{{user.dateInscription}}<br/>{{user.statut}}</p>
                </div>  
              </div>  
            </div>
          </div>
          <div class="row">  
            <div class="five wide column" >
              <div class="ui celled grid">
                <div class="six wide column">
                  <img class="circular ui medium image" src="">
                </div>
                <div class="eight wide column">  
                  <p><a href="#" ng-click='showProfil()'> George Alain</a><br/>Utlisateur depuis le 13/06/13<br/>Rang: Légende</p>
                </div>  
              </div>  
            </div>
            <div class="five wide column" >
              <div class="ui celled grid">
                <div class="six wide column">
                  <img class="circular ui medium image" src="">
                </div>
                <div class="eight wide column">  
                  <p><a href="#" ng-click='showProfil()'> George Alain</a><br/>Utlisateur depuis le 13/06/13<br/>Rang: Légende</p>
                </div>  
              </div>  
            </div>
            <div class="five wide column" >
              <div class="ui celled grid">
                <div class="six wide column">
                  <img class="circular ui medium image" src="">
                </div>
                <div class="eight wide column">  
                  <p><a href="#" value="George Alain" onclick='profil()'> George Alain</a><br/>Utlisateur depuis le 13/06/13<br/>Rang: Légende</p>
                </div>  
              </div>  
            </div>
          </div>
      </div>
    </div> 
  </div>

  <!-- Modal Profil utilisateur -->
  <div class="ui modal" id="profil">
      <div class="ui celled grid" ng-controller="userListController">
        <div class="row">
          <div class="three wide column">
            <img class="circular ui image" src="{{MyProfile.properties['userprofile_schema:Picture']}}">
          </div>
          <div class="twelve wide column" >  
            <div class="ui right floated segment">
              <i class="close icon"></i> 
            </div>
            <p>Firstname: {{user.properties.firstName}}</br></br>Lastname: {{user.properties.lastName}}</br></br>I am {{user.properties.email}}</p>
          </div> 
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui tabular filter menu three">
            <a class="active item" data-tab="recentUser">Recent Activities</a>
            <a class="item" data-tab="bio">Bio</a>
            <a class="item" data-tab="info">More Informations</a>
            </div>
            <div id="parent-three">
              <div class="ui divided inbox selection list active tab" data-tab="recentUser" ng-controller="activityListController">
                <div class="feedsBlock" ng-controller="commentsController">
            <!-- un segment = une activité -->
                  <div class="ui blue segment" ng-repeat="activity in userActivities.entries | limitTo:3">
                    <div><img src="" alt=""></div>
                    <div class="description" ng-controller="userProfilController">
                      <p><a rel="nofollow" href="{{activity.properties['dc:source']}}">{{activity.properties['dc:title']}} </a></p>
                      <span class="info">New question on 
                        <em>{{activity.type}} </em>, by 
                        <a id="{{$index}}" href="#" ng-click="showProfil(activity.properties['dc:publisher']);"> {{activity.properties['dc:publisher']}} </a>
                      </span> on {{activity.properties['dc:created']}} 
                      <div class="ui mini button" id="like">Like
                      </div>
                      <div class="ui mini button" ng-click="showComments($index);">Comments
                      </div>  
                    </div>  
                    <div class="clear"></div>
                  </div>
                </div>   
              </div>
              <div class="ui divided inbox selection list tab" data-tab="bio">
                <p> {{MyProfile.properties['userprofile_schema:Biography']}}</p>
              </div>
              <div class="ui divided inbox selection list tab" data-tab="info">
                <p> {{MyProfile.properties['userprofile_schema:Informations']}} </p>
              </div>
            </div>  
          </div>  
        </div>
      </div>      
  </div> 

<!-- Modal: Profil de l'utilisateur connecté -->

  <div class="ui modal" id="profilUser">
      <div class="ui celled grid" ng-controller="userListController">
        <div class="row">
          <div class="three wide column">
            <img class="circular ui image" src="{{MyProfile.properties['userprofile_schema:Picture']}}" onclick="showProfilePictures();">
          </div>
          <div class="twelve wide column" > 
            <div class="ui right floated segment">
              <i class="close icon"></i> 
            </div>  
            <p>Firstname: {{user.properties.firstName}}</br></br>Lastname: {{user.properties.lastName}}</br></br>I am {{user.properties.email}}</p>
            <div class="ui right floated small button" onclick="pickAccount()"> Bind another account</div>
          </div> 
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui tabular filter menu four">
            <a class="active item" data-tab="recentUser">Recent Activities</a>
            <a class="item" data-tab="bio">Bio</a>
            <a class="item" data-tab="info">More Informations</a>
            </div>
            <div id="parent-four">
              <div class="ui divided inbox selection list active tab" data-tab="recentUser" ng-controller="activityListController">
                <div class="feedsBlock" ng-controller="commentsController">
            <!-- un segment = une activité -->
                  <div class="ui blue segment" ng-repeat="activity in userActivities.entries | limitTo:3">
                    <div><img src=""></div>
                    <div class="description" ng-controller="userProfilController">
                      <p><a rel="nofollow" href="{{activity.properties['dc:source']}}">{{activity.properties['dc:title']}} </a></p>
                      <span class="info">New question on 
                        <em>{{activity.type}} </em>, by 
                        <a id="{{$index}}" href="#" ng-click="showProfil(activity.properties['dc:publisher']);"> {{activity.properties['dc:publisher']}} </a>
                      </span> on {{activity.properties['dc:created']}} 
                      <div class="ui mini button" id="like">Like
                      </div>
                      <div class="ui mini button" ng-click="showComments($index);">Comments
                      </div>  
                    </div>  
                    <div class="clear"></div>
                  </div>
                </div>   
              </div>
              <div class="ui divided inbox selection list tab" data-tab="bio">
                <p> {{MyProfile.properties['userprofile_schema:Biography']}}</p>
                <div class="ui right floated mini button" onclick="changeBiography();"> Change my biography
                </div>
              </div>
              <div class="ui divided inbox selection list tab" data-tab="info">
                <p> {{MyProfile.properties['userprofile_schema:Informations']}} </p>
                <div class="ui right floated mini button" onclick="changeInformations();"> Change my informations
                </div>
              </div>
            </div>  
          </div>  
        </div>
      </div>      
  </div> 
  
  <!-- Modal changement des infos du profil -->
  <div  class="ui modal" id="changeInformations" ng-controller="profilInfosController">
      <form class="ui reply form">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>
        <div class="field">
          <textarea id="newInformations">{{MyProfile.properties['userprofile_schema:Informations']}}</textarea>
        </div>
        <div class="ui fluid labeled submit icon button" ng-click="submitInfos();">
          <i class="icon edit"></i> Edit
        </div>
      </form>
  </div>    

  <!-- Modal changement de la biographie du profil -->
  <div  class="ui modal" id="changeBiography" ng-controller="profilBioController">
    <form class="ui reply form">
        <div class="ui right floated segment">
          <i class="close icon"></i> 
        </div>
        <div class="field">
          <textarea id="newBiography">{{MyProfile.properties['userprofile_schema:Biography']}}</textarea>
        </div>
        <div class="ui fluid labeled submit icon button" ng-click="submitBio();">
          <i class="icon edit"></i> Edit
        </div>
      </form>
  </div>

  <!-- Modal comments -->
  <div  class="ui modal" id="comments" ng-controller="activityListController">
	  <div class="ui segment">
	    <div class="ui right floated segment">
        <i class="close icon"></i> 
      </div>
	    <h2 class="ui header">
        <i class="floated icon inverted circular blue comment"></i> Comments
	    </h2>
      <div class="ui comments">
	  	  <div class="ui red segment" ng-repeat="comment in activities[0].comments">
	       <!--  <a class="avatar">
	          <img class="circular ui small image" src="{{activitiesss[0].comments[0].pic}}">
	        </a> -->
	        <div class="content">
            <a class="author">{{comment.author}}</a>
	      	  <div class="text">
            {{comment.text}}
            </div>
	          <span class="date">2 days ago</span>
	        </div>
	      </div>
      </div>  
      <form class="ui reply form">
	      <div class="field">
          <textarea></textarea>
        </div>
	      <div class="ui fluid blue labeled submit icon button">
          <i class="icon edit"></i> Add Reply
	      </div>
      </form>
    </div>   
  </div>




  <!-- fin des popup -->

  <!-- Grille principale -->
  <div class="ui divided grid">
    <!-- Partie de gauche =  Activités -->
    <div class="twelve wide column">
    <div class="ui blue inverted segment">
      <!-- Tabular menu -->
      <div class="ui tabular filter menu one">
        <a class="active item" data-tab="recentActivities">Recent Activities</a>
        <a class="item" data-tab="CommunityWork">Community Work</a>
        <a class="item" data-tab="Posts">Blog Posts</a>
      </div>
      <!-- Exemples de post -->
      <div id="parent-one">
        <!-- Activities -->
        <div class="ui divided inbox selection list active tab" data-tab="recentActivities" ng-controller="activityListController">
          <div class="feedsBlock" ng-controller="commentsController">
            <!-- un segment = une activité -->
            <div class="ui blue segment" ng-repeat="activity in activities.entries | limitTo:12">
              <div><img src="" alt=""></div>
              <div class="description" ng-controller="userProfilController">
                <p><a rel="nofollow" href="{{activity.properties['activitycommunity:Link']}}">{{activity.properties['dc:title']}} </a></p>
                <span class="info">New post on <em>{{activity.properties['dc:source']}} </em>, by <a id="{{$index}}" href="#" ng-click="showProfil(activity.properties['dc:publisher']);"> {{activity.properties['dc:publisher']}} </a></span>
                on {{activity.properties['dc:created']}} 
                <div class="ui mini button" id="like">Like
                </div>
                <div class="ui mini button" ng-click="showComments($index);">Comments
                </div>  
              </div>  
              <div class="clear"></div>
            </div>
          </div>
        </div>    
        <!-- Community Work -->
        <div class="ui divided inbox selection list tab" data-tab="CommunityWork" ng-controller="jiraActivityListController">
          <div class="feedsBlock" ng-controller="commentsController">
            <!-- un segment = une activité -->
            <div class="ui blue segment" ng-repeat="activity in jiraActivities.entries | limitTo:12">
              <div><img src="" alt=""></div>
              <div class="description" ng-controller="userProfilController">
                <p><a rel="nofollow" href="{{activity.properties['activitycommunity:Link']}}">{{activity.properties['dc:title']}} </a></p>
                <span class="info">New post on <em>{{activity.properties['dc:source']}} </em>, by <a id="{{$index}}" href="#" ng-click="showProfil(activity.properties['dc:publisher']);"> {{activity.properties['dc:publisher']}} </a></span>
                on {{activity.properties['dc:created']}} 
                <div class="ui mini button" id="like">Like
                </div>
                <div class="ui mini button" ng-click="showComments($index);">Comments
                </div>  
              </div>  
              <div class="clear"></div>
            </div>
          </div>
        </div>    
        <!-- Post -->
        <div class="ui divided inbox selection list tab" data-tab="Posts" ng-controller="blogPostListController">
          <div class="feedsBlock" ng-controller="commentsController">
          <div class="ui blue segment" ng-repeat="blogPost in blogPosts.entries | limitTo:12">
            <div><img src="" alt=""></div>
            <div class="description" ng-controller="userProfilController">
              <p><a rel="nofollow" href="{{blogPost.properties['activitycommunity:Link']}}">{{blogPost.properties['dc:title']}} </a></p>
              <span class="info">New post on <em>{{blogPost.properties['dc:source']}} </em>, by <a id="{{$index}}" href="#" ng-click="showProfil(blogPost.properties['dc:publisher']);"> {{blogPost.properties['dc:publisher']}} </a></span>
              on {{blogPost.properties['dc:created']}} 
              <div class="ui mini button" id="like">Like
              </div>
              <div class="ui mini button" ng-click="showComments($index);">Comments
              </div>  
            </div>  
            <div class="clear"></div>
          </div>
        </div>
        </div>
      </div>
    </div> 
    </div> 
    <!-- Fin Partie de gauche -->

    <!-- Partie de droite -->
    <div class="four wide column">
      <!-- Une grille pour avoir une colone de taille 16 -->
      <div class="ui grid"> 
        <!-- une ligne = un tableau -->
        <div class="row">
          <!-- Utilisateurs et Medailles -->
          <div class="sixteen wide column" id="blockUser">
            <div class="ui blue inverted segment">
            <div class="ui tabular filter menu two">
              <a class="active item" data-tab="users">Top Users</a>
              <a class="item" data-tab="medals">Medals</a>
            </div> 
            <div  id="parent-two">
              <div class="ui divided inbox selection list active tab" data-tab="users">
                <div class="ui celled grid" ng-controller="userProfilController">
                  <div class="row">
                    <div class="two wide column" >
                      <div class="item" title="George Alain 32ans Nuxeo">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png" ng-click="showProfil('George Alain');">
                      </div>
                    </div>
                    <div class="two wide column"> 
                      <div class="item" title="George Alain 32ans Nuxeo">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png" ng-click="showProfil('Charles H.');">
                      </div>
                    </div>
                    <div class="two wide column" >
                      <div class="item" title="Michael Kyle 28ans Smart&soft">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                    <div class="two wide column" >
                      <div class="item">
                        <img class="circular ui small image" src="../nuxeo-community/img/Default-user-icon.png">
                      </div>
                    </div>
                  </div>  
                </div> 
                <div class="ui basic button" onclick='allUsers()'>All Users</div> 
              </div>
              <div class="ui divided inbox selection list tab" data-tab="medals">  
                <div class="ui celled grid">
                  <div class="row">
                    <div class="two wide column" >
                      <div class="item" title="Médaille du contributeur">
                        <img class="circular ui small image" src="">
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                  </div>  
                  <div class="row">
                  </div>  
                </div>
                <div class="ui basic button" onclick="return popitup('http://www.sochi2014.com/en/medals')">All Medals</div> 
              </div> 
            </div>
            </div>            
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui green inverted segment">
            Question of the week: 
            <var>What would you change to improve nuxeo platform ?</var>  
            <br>
            <form class="ui reply form">
		      <div class="field">
	            <textarea></textarea>
	          </div>
		      <div class="ui fluid blue labeled submit icon button">
		        <i class="icon edit"></i> Add Reply
		      </div>
		    </form>
            </div>
          </div> 
        </div>
        <!-- Social -->
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui blue inverted segment">
              <div class="left floated ui icon">
                <i class="twitter sign icon"> </i>
                <a href="https://twitter.com/nuxeo">follow us on twitter</a>
              </div>  
              <div class="left floated ui icon">
                <i class="facebook sign icon"> </i>
                <a href="https://www.facebook.com/Nuxeo" >follow us on facebook</a>
              </div> 
              <div class="left floated ui icon">
                <i class="google plus icon"> </i>
                <a href="https://plus.google.com/+nuxeo/posts">Join us on Google +</a>
              </div> 
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui green inverted segment">
            Question of the day: 
            <var>What is the name of our own reverse proxy?</var>  
            <br>
            Value:
            <var>200</var> points
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui purple inverted segment">
            Meet the user of the week: 
            <br>
            <var>
            <img class="left floated circular ui small image" src="">
            <a class="right floated link" href="#" ng-click='showProfil()'> George Alain</a>
            </var>  
            </div>
          </div> 
        </div>
      </div>
      <!-- Fin grille -->
    </div>
    <!-- fin partie de droite -->     
  </div>
  <!-- "fin" de la page -->
</div>
  <!-- JS  -->
  <script type="text/javascript"> 

      //Affiche le popup de connexion
     function connection() {
      $("#register").modal('hide.modal');
      $("#login").modal('show');
      }

      //cache la connexion affiche l'enregistrement
      function register() {
      $("#login").modal('hide.modal');
      $("#register").modal('show');
      }
  
      //cache l'enregistrement affiche les félicitations
      function submit1() {  
      $("#register").modal('hide.modal');
      $("#Congratulation").modal('show');  
      }

      function pickAccount() {  
      $("#userProfil").modal('hide.modal');
      $("#userProfil").modal('hide.module');
      $("#pickAccount").modal('show');  
      }
      //affiche le popup AllUsers
      function allUsers() {  
      $("#allUsers").modal('show');  
      }

      function showProfilePictures() {
      $("#pictures").modal('show');
      }

      function changeInformations() {
      $("#changeInformations").modal('show');
      }

      function changeBiography() {
      $("#changeBiography").modal('show');
      }

      //fonction qui charge une page contenant les données d'un utilisateur en json
      function getHU() 
      { 
      var hoo =  "http://demo.nuxeo.com:80/nuxeo/site/api/v1/user/"+ document.getElementById("hu").value ; 
      newwindow=window.open(hoo);
        if (window.focus) {newwindow.focus();}
        return false;
      } 

      //popup à remplacer quand on clique sur les médailles
      function popitup(url) {
      newwindow=window.open(url,'Medals','height=500,width=500,left=100,top=100');
        if (window.focus) {newwindow.focus();}
        return false;
      }

  </script>
  <!-- Fin JS -->
</body>

</html>